{% block collectionMainBanner %}
    <div class="main-banner">
        <a href=""><img class="img-fluid" src="/assets/images/Collections/Collections/Techno-discount.png"/></a>
    </div>
{% endblock %}