<div class-='banner-homepage'>
    <img style="width: 100%;" src="/assets/images/test_pictures/banner-homepage-christmas.png"/>
</div>

<div class="title-brand">
    <h3>Discover a new way of traveling</h3>
    <p>learn more</p>
</div>

<div class="block">
    <div class='part1'>
        <div class='ok image-fluid'>
            <img class='picture1' src="/assets/images/test_pictures/Imagine-Motion.png"/>
            <div class="overlay">
                <div class="display-text">Hello</div>
            </div>
        </div>
        <div class='ok image-fluid'>
            <img src="/assets/images/test_pictures/Imagine-Motion.png"/>
            <div class="overlay">
                <div class="display-text">Hello</div>
            </div>
        </div>
    </div>
    <div class=part2>
        <div class='ok image-fluid'>
            <img class='picture1' src="/assets/images/test_pictures/Imagine-Motion.png"/>
            <div class="overlay">
                <div class="display-text">Hello</div>
            </div>
        </div>
        <div class='ok image-fluid'>
            <img src="/assets/images/test_pictures/Imagine-Motion.png"/>
            <div class="overlay">
                <div class="display-text">Hello</div>
            </div>
        </div>
    </div>
</div>



