{% block mainCategories %}
    <div class="container_mainCategories">
        <a href="/Product/show/1" class="category shadow">
            <div class="categoryMain shadow"
                 style="background-image: url(/assets/images/layout_pictures/mainCollection/xiaomi2.jpg); background-size: cover;">
                <h2 class="categoryH2">Best sellers</h2>
            </div>
        </a>
        <a href="/Product/show/2" class="category shadow">
            <div class="categoryMain shadow"
                 style="background-image: url(/assets/images/layout_pictures/mainCollection/promotions.jpg); background-size: cover;">
                <h2 class="categoryH2">Promotions</h2>
            </div>
        </a>
        <a href="/Product/show/3" class="category shadow">
            <div class="categoryMain shadow"
                 style="background-image: url(/assets/images/layout_pictures/mainCollection/newArrivals.jpg); background-size: cover;">
                <h2 class="categoryH2">New arrivals</h2>
            </div>
        </a>
    </div>
{% endblock %}