{% block carousel %}

<div id="range_slides_4_columns_carousel" class="carousel slide range_slides_carousel_wrapper swipe_x ps_easeOutCirc" data-ride="carousel" data-duration="2000" data-interval="5000" data-pause="hover">
    <h3>Recommended For You</h3>
    <!--========= Indicators =========-->
    <ol class="carousel-indicators range_slides_carousel_indicators">
        <li data-target="#range_slides_4_columns_carousel" data-slide-to="0" class="active"></li>
        <li data-target="#range_slides_4_columns_carousel" data-slide-to="1"></li>
    </ol>

    <!--========= Wrapper for slides =========-->
    <div class="carousel-inner range_slides_carousel_inner" role="listbox">

        <!--========= First slide =========-->
        <div class="carousel-item active">
            <div class="row">
                <div class="col-3 col-sm-3 col-md-3 range_slides_item_image">
                    <a href="#"><img src="/assets/images/test_pictures/collection-page.jpg" class="slider" alt="slider 01"></a>
                </div>
                <div class="col-3 col-sm-3 col-md-3 range_slides_item_image">
                    <a href="#"><img src="/assets/images/test_pictures/collection-page.jpg" class="slider" alt="slider 02"></a>
                </div>
                <div class="col-3 col-sm-3 col-md-3 range_slides_item_image">
                    <a href="#"><img src="/assets/images/test_pictures/collection-page.jpg" class="slider" alt="slider 03"></a>
                </div>
                <div class="col-3 col-sm-3 col-md-3 range_slides_item_image">
                    <a href="#"><img src="/assets/images/test_pictures/collection-page.jpg" class="slider" alt="slider 04"></a>
                </div>
            </div>
        </div>

        <!--========= Second Slide =========-->
        <div class="carousel-item">
            <div class="row">
                <div class="col-3 col-sm-3 col-md-3 range_slides_item_image">
                    <a href="#"><img src="/assets/images/test_pictures/collection-page.jpg" class="slider" alt="slider 05"></a>
                </div>
                <div class="col-3 col-sm-3 col-md-3 range_slides_item_image">
                    <a href="#"><img src="/assets/images/test_pictures/collection-page.jpg" class="slider" alt="slider 06"></a>
                </div>
                <div class="col-3 col-sm-3 col-md-3 range_slides_item_image">
                    <a href="#"><img src="/assets/images/test_pictures/collection-page.jpg" class="slider" alt="slider 07"></a>
                </div>
                <div class="col-3 col-sm-3 col-md-3 range_slides_item_image">
                    <a href="#"><img src="/assets/images/test_pictures/collection-page.jpg" class="slider" alt="slider 08"></a>
                </div>
            </div>
        </div>

        <!--======= Navigation Buttons =========-->

        <!--======= Left Button =========-->
        <a class="carousel-control-prev range_slides_carousel_control_left" href="#range_slides_4_columns_carousel" data-slide="prev">
            <span class="fa fa-chevron-left range_slides_carousel_control_icons" aria-hidden="true"></span>
        </a>

        <!--======= Right Button =========-->
        <a class="carousel-control-next range_slides_carousel_control_right" href="#range_slides_4_columns_carousel" data-slide="next">
            <span class="fa fa-chevron-right range_slides_carousel_control_icons" aria-hidden="true"></span>
        </a>

    </div>

</div> <!--*-*-*-*-*-*-*-*-*-*- END BOOTSTRAP CAROUSEL *-*-*-*-*-*-*-*-*-*-->

{% endblock %}