
<div class="result-section container-fluid">
    <div class="location row">
        <h3 class="Timezone">New York</h3>
        <p class="icon"><img class='logo' src="http://openweathermap.org/img/wn/10d@2x.png"/></p>
    </div>
    <div class="temperature">
        <div class="degree-section">
            <h2 class="temperature-degree">39 C</h2>
        </div>
    </div>
</div>

