{% block footer %}
    <footer class="page-footer font-small pt-4 footer">

        <div class="container-fluid text-center text-md-left">

            <div class="row">

                <div class="col-4 footer-message">
                    <h5 class="text-uppercase">I-SCOOTER</h5>
                    <p class ="foot">Because driving with comfort and style is possible</p>
                </div>

                <hr class="clearfix w-100 d-md-none pb-3">

                <div class="col-4">

                    <h5 class="text-uppercase">Who are we ?</h5>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/story/index" >Our story</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/about/index">About Us</a>
                        </li>

                    </ul>

                </div>

                <div class="col-4">

                    <!-- Links -->
                    <h5 class="text-uppercase">Some of our wondefull products !</h5>

                    <ul class="list-group">
                        {% for collection in globalCollections %}
                        <li class="list-group-item">
                            <a href="/collection/show/{{ collection.category.id }}">
                                {{ collection.category.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>

            </div>

        </div>

        <div class="footer-copyright text-center">© 2018 Copyright:
            <a href="/home/index">I-SCOOTER</a>
        </div>

    </footer>

{% endblock %}